.DivAnimation_main {
  display: grid;
  position: fixed;
  align-items: center;
  background-color: black;
  width: 60vw;
  height: 70vh;
  top: -5px;
  z-index: 3;
}
.template_areas_inicial {
  grid-template-areas:
    "Seja Seja . . . ."
    ". . . . . .";
}
.Seja,
.Bem,
.Vindo,
.aMirrorFashion {
  font-size: 2rem;
  color: aliceblue;
}

.Seja {
  grid-area: Seja;
}
.Bem {
  grid-area: Bem;
}
.Vindo {
  grid-area: Vindo;
}
.aMirrorFashion {
  grid-area: aMirrorFashion;
}

.template_areas_mudança_1 {
  grid-template-areas:
    " . . Bem Bem . ."
    ". . . . . .";
}
.template_areas_mudança_2 {
  grid-template-areas:
    ". . . . Vindo Vindo"
    ". . . . . .";
}
.template_areas_mudança_3 {
  grid-template-areas:
    "aMirrorFashion aMirrorFashion aMirrorFashion aMirrorFashion aMirrorFashion aMirrorFashion"
    ". . . . . .";
}
/*
.template_areas_mudança_3 {
  grid-template-areas:
    " . . . . . ."
    ". . aMirrorFashion aMirrorFashion . .";
}
*/
