.DivAnimation_main {
  display: grid;
  position: fixed;
  align-items: center;
  background-color: black;
  width: 60vw;
  height: 70vh;
  top: -5px;
  z-index: 3;
}
.template_areas_1 {
  grid-template-areas:
    "Seja Seja Seja . . ."
    ". . . . . .";
}
.Seja,
.Bem,
.Vindo,
.aMirrorFashion {
  font-size: 2rem;
  color: aliceblue;
}

.Seja {
  grid-area: Seja;
}
.Bem {
  grid-area: Bem;
}
.Vindo {
  grid-area: Vindo;
}
.aMirrorFashion {
  grid-area: aMirrorFashion;
}
