.DivAnimation_main {
  display: grid;
  position: fixed;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 90vh;
  top: -5px;
  z-index: 3;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

.Seja,
.Bem,
.Vindo,
.aMirrorFashion {
  font-size: 5rem;
  color: aliceblue;
  width: 33vw;
}

.Seja {
  grid-area: Seja;
}
.Bem {
  grid-area: Bem;
}
.Vindo {
  grid-area: Vindo;
}
.aMirrorFashion {
  grid-area: aMirrorFashion;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

.template_areas_state_inicial {
  grid-template-areas:
    "Seja Seja main_banner_2 main_banner_2 main_banner_3 main_banner_3"
    ". . main_banner_2 main_banner_2 main_banner_3 main_banner_3";
}

.template_areas_state_1 {
  grid-template-areas:
    "main_banner_1 main_banner_1 Bem Bem main_banner_3 main_banner_3"
    "main_banner_1 main_banner_1 . . main_banner_3 main_banner_3";
}

.template_areas_state_2 {
  grid-template-areas:
    "main_banner_1 main_banner_1 main_banner_2 main_banner_2 Vindo Vindo"
    "main_banner_1 main_banner_1 main_banner_2 main_banner_2 . .";
}

.template_areas_state_3 {
  grid-template-areas:
    " . . . . . ."
    ". . aMirrorFashion aMirrorFashion . .";
}

/*

Modelo:

.template_areas_state_inicial {

  "Seja Seja main_banner_2 main_banner_2 main_banner_3 main_banner_3"
  ". . main_banner_2 main_banner_2 main_banner_3 main_banner_3";
}

.template_areas_state_1 {

  "main_banner_1 main_banner_1 Bem Bem main_banner_3 main_banner_3"
  "main_banner_1 main_banner_1 . . main_banner_3 main_banner_3";  
  }
  
.template_areas_state_2 {

  "main_banner_1 main_banner_1 main_banner_2 main_banner_2 Vindo Vindo"
  "main_banner_1 main_banner_1 main_banner_2 main_banner_2 . .";
  }
  
*/

/*
.template_areas_state_3 {
  grid-template-areas:
    " . . . . . ."
    ". . aMirrorFashion aMirrorFashion . .";
}
*/

/*---------------------------------------------------------------------------------------------------------------------------------------*/
.main_banner_1 {
  grid-area: main_banner_1;
  background-color: yellowgreen;
  width: 33vw;
}
.main_banner_2 {
  grid-area: main_banner_2;
  background-color: pink;
  width: 0;
  left: -100vw;
}
.main_banner_3 {
  grid-area: main_banner_3;
  background-color: palevioletred;
  width: 0;
  left: 100vw;
}
.main_banner_4 {
  grid-area: main_banner_4;
  background-color: rebeccapurple;
  width: 33vw;
}
.main_banner_5 {
  grid-area: main_banner_5;
  background-color: gray;
  width: 33vw;
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/

.main_banner_1_state_inicial {
  animation-name: main_banner_1_state_inicial;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.main_banner_1_state_1 {
  animation-name: main_banner_1_state_1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.main_banner_2_state_inicial {
  animation-name: main_banner_2_state_inicial;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.main_banner_2_state_1 {
  animation-name: main_banner_2_state_1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.main_banner_3_state_inicial {
  animation-name: main_banner_3_state_inicial;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.main_banner_3_state_1 {
  animation-name: main_banner_3_state_1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.main_banner_4_state_inicial {
  animation-name: main_banner_4_state_inicial;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.main_banner_4_state_1 {
  animation-name: main_banner_4_state_1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.main_banner_5_state_inicial {
  animation-name: main_banner_5_state_inicial;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.main_banner_5_state_1 {
  animation-name: main_banner_5_state_1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

@keyframes main_banner_1_state_inicial {
  0% {
  }
  100% {
  }
}

@keyframes main_banner_2_state_inicial {
  0% {
    width: 0;
    left: -100vw;
  }
  100% {
    width: 33vw;
    left: 0;
  }
}

@keyframes main_banner_3_state_inicial {
  0% {
    width: 0;
    left: 100vw;
  }
  100% {
    width: 33vw;
    left: 0;
  }
}

@keyframes main_banner_4_state_inicial {
  0% {
  }
  100% {
  }
}

@keyframes main_banner_5_state_inicial {
  0% {
  }
  100% {
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/

@keyframes main_banner_1_state_1 {
  0% {
  }
  100% {
  }
}

@keyframes main_banner_2_state_1 {
  0% {
  }
  100% {
  }
}

@keyframes main_banner_3_state_1 {
  0% {
  }
  100% {
  }
}

@keyframes main_banner_4_state_1 {
  0% {
  }
  100% {
  }
}

@keyframes main_banner_5_state_1 {
  0% {
  }
  100% {
  }
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
.displayNone {
  display: none;
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/
