.DbannerPrincipal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  min-height: 100vh;
  height: 2500vh;
  background-color: black;
}
.DbannerTíd {
  display: flex;
  justify-content: center;
  /*margin-top: 15vh;*/
  width: 100vw;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 5rem;
  background: black;
  color: white;
}
.DbannerTíd1 {
  margin-top: 15vh;
}
.DbannerTíd2 {
  margin-top: 5vh;
}
.bannerSpan {
  width: 90vw;
  height: 1vh;
  background-color: aqua;
  position: relative;
  /*display: none;*/
}
