.DbannerPrincipal1,
.DbannerPrincipal2,
.DbannerPrincipal3 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 1000vh;
  background-color: black;
}
.DbannerPrincipal2 {
  position: relative;
  height: 200vh;
}
.DbannerPrincipal3 {
  position: relative;
  height: 1000vh;
}
.DbannerTíd {
  display: flex;
  justify-content: center;
  /*margin-top: 15vh;*/
  width: 100vw;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 5rem;
  background: black;
  color: white;
}
.DbannerTíd1 {
  margin-top: 15vh;
}
.DbannerTíd2 {
  margin-top: 5vh;
}
.bannerSpan {
  width: 90vw;
  height: 1vh;
  background-color: aqua;
  position: relative;
  /*display: none;*/
}
