.gridTD {
  position: absolute;
  display: grid;
  /*grid-template-columns: 3fr 1fr 1fr;*/
  grid-template-areas:
    "titulo titulo titulo titulo titulo"
    "titulo titulo titulo titulo titulo"
    "titulo titulo titulo titulo titulo"
    "titulo titulo titulo titulo titulo"
    "titulo titulo titulo titulo titulo"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    ". . . . ."
    ". . . . ."
    ". . . . ."
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque5 subdestaque6 subdestaque6 subdestaque6 subdestaque6"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8"
    "subdestaque7 subdestaque7 subdestaque7 subdestaque7 subdestaque8";

  min-height: 1000vh;
  min-width: 90vw;
}
.gridTF {
  position: relative;
  display: grid;
  align-items: center;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  box-shadow: 0px 0px 50px 50px black;
}
.gridTFT {
  background-color: darkolivegreen;
  grid-area: titulo;
  /*grid-template-areas: "destaque1 destaque1 destaque1 destaque1 destaque1  destaque2 destaque2 destaque2 destaque2 destaque2";*/
  display: flex;

  overflow-x: scroll;
  overflow-y: hidden;
}
.gridTF1 {
  background-color: pink;
  grid-area: destaque;
  /*grid-template-areas: "destaque1 destaque1 destaque1 destaque1 destaque1  destaque2 destaque2 destaque2 destaque2 destaque2";*/
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.gridTF2 {
  background-color: darkblue;
  grid-area: subdestaque1;
  display: flex;
  flex-direction: row;
  /*min-height: 30vh;*/
  overflow-x: scroll;
  overflow-y: hidden;
}
.gridTF3 {
  background-color: rebeccapurple;
  grid-area: subdestaque2;
  display: flex;
  flex-direction: column;
  /*min-height: 30vh;*/
  overflow-x: hidden;
  overflow-y: scroll;
}
.gridTF4 {
  background-color: white;
  grid-area: subdestaque3;
  display: flex;
  flex-direction: column;
  /*min-height: 30vh;*/
  overflow-x: hidden;
  overflow-y: scroll;
}
.gridTF5 {
  background-color: wheat;
  grid-area: subdestaque4;
  display: flex;
  flex-direction: row;
  /*min-height: 30vh;*/
  overflow-x: scroll;
  overflow-y: hidden;
}
.gridTF6 {
  background-color: springgreen;
  grid-area: subdestaque5;
  display: flex;
  /*min-height: 30vh;*/
  /*overflow-x: scroll;*/
  /*overflow-y: hidden;*/
}
.gridTF7 {
  background-color: blue;
  grid-area: subdestaque6;
  display: flex;
  flex-direction: row;
  /*min-height: 30vh;*/
  /*overflow-x: scroll;*/
  /*overflow-y: hidden;*/
}
.gridTF8 {
  background-color: blue;
  grid-area: subdestaque7;
  display: flex;
  flex-direction: row;
  /*min-height: 30vh;*/
  /*overflow-x: scroll;*/
  /*overflow-y: hidden;*/
}
.gridTF9 {
  background-color: springgreen;
  grid-area: subdestaque8;
  display: flex;
  flex-direction: row;
  /*min-height: 30vh;*/
  /*overflow-x: scroll;*/
  /*overflow-y: hidden;*/
}
.gridTF {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}
.animation1_gridTF1 {
  animation-name: animation1_gridTF1;
  animation-duration: 1.5s;
  animation-iteration-count: 20;
}
.animation1_gridTF2 {
  animation-name: animation1_gridTF2;
  animation-duration: 1.5s;
  animation-iteration-count: 20;
}
.animation1_gridTF3 {
  animation-name: animation1_gridTF3;
  animation-duration: 1.5s;
  animation-iteration-count: 20;
}
.animation1_gridTF4 {
  animation-name: animation1_gridTF4;
  animation-duration: 1.5s;
  animation-iteration-count: 20;
}
.animation1_gridTF5 {
  animation-name: animation1_gridTF5;
  animation-duration: 1.5s;
  animation-iteration-count: 20;
}

@keyframes animation1_gridTF1 {
  0% {
    opacity: 0%;
    left: -100vw;
  }
  100% {
    opacity: 100%;
    left: 0;
  }
}

@keyframes animation1_gridTF2 {
  0% {
    opacity: 0%;
    left: -70vw;
  }
  100% {
    opacity: 100%;
    left: 0;
  }
}

@keyframes animation1_gridTF3 {
  0% {
    opacity: 0%;
    top: -100vh;
  }
  100% {
    top: 0;
    opacity: 100%;
  }
}

@keyframes animation1_gridTF4 {
  0% {
    opacity: 0%;
    bottom: -40vh;
  }
  100% {
    opacity: 100%;
    bottom: 0;
  }
}

@keyframes animation1_gridTF5 {
  0% {
    opacity: 0%;
    left: -40vw;
  }
  100% {
    opacity: 100%;
    left: 0;
  }
}

.gridTN {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  height: 95%;
  min-width: 100%;
  border-radius: 25px;
}

.gridTN2 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  min-height: 95%;
  min-width: 100%;
  border-radius: 25px;
}

.gridTN3 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  min-height: 55%;
  min-width: 95%;
  border-radius: 25px;
  background-size: 160%;
}

.gridTN4 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  min-height: 46%;
  min-width: 95%;
  border-radius: 25px;
  background-size: 150%;
}

.gridTN5 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  min-height: 90%;
  min-width: 100%;
  border-radius: 25px;
}

.gridTN6 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  border-radius: 25px;
  color: white;
  min-height: 100%;
  min-width: 100%;
}
.gridTN7 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  border-radius: 25px;
  min-height: 100%;
  min-width: 100%;
  color: white;
}
.gridTN8 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  border-radius: 25px;
  min-height: 100%;
  min-width: 100%;
  color: white;
}
.gridTN9 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  border-radius: 25px;
  color: white;
  min-height: 100%;
  min-width: 100%;
}
.gridTNT1 {
  background: radial-gradient(gray -200%, black);
  font-size: 8rem;
  width: 100%;
  height: 50%;
  font-weight: 700;
  color: white;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTNT2 {
  background-color: teal;
  font-size: 8rem;
  width: 100%;
  height: 50%;
  font-weight: 700;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.gridTN11 {
  background-color: whitesmoke;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/project/MirrorFashion/public/images/striped-blouse-fashion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN12 {
  background-color: red;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque2;*/
}
.gridTN13 {
  background-color: coral;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.gridTN21 {
  background-color: violet;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/project/MirrorFashion/public/images/pink-neon-lights-fashion-model.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN22 {
  background-color: yellow;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque2;*/
}
.gridTN23 {
  background-color: springgreen;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.gridTN31 {
  background-color: aqua;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/project/MirrorFashion/public/images/mens-stylish-formalwear.jpg);
  background-repeat: no-repeat;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN32 {
  background-color: blue;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque2;*/
}
.gridTN33 {
  background-color: aquamarine;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.gridTN41 {
  background-color: darkcyan;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/project/MirrorFashion/public/images/woman-in-pink-silk.jpg);
  background-repeat: no-repeat;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN42 {
  background-color: slategrey;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/project/MirrorFashion/public/images/fashion-model-looks-at-camera.jpg);
  background-repeat: no-repeat;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque2;*/
}
.gridTN43 {
  background-color: cornflowerblue;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.gridTN51 {
  background-color: brown;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/project/MirrorFashion/public/images/pink-fur-fabulous-fashion.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN52 {
  background-color: tomato;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque2;*/
}
.gridTN53 {
  background-color: darkblue;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN61 {
  background: black;
  background-repeat: no-repeat;
  background-size: 100%;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN71 {
  background-color: brown;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/project/MirrorFashion/public/images/woman-in-summer-floral-fashion.jpg);
  background-repeat: no-repeat;
  background-size: 160%;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
/*
.animation1_gridTN:hover {
  animation-name: animation1_gridTN;
  animation-duration: 1s;
  animation-iteration-count: 1;

  min-height: 115%;
  min-width: 120%;
  z-index: 1;
}
*/
.gridTN81 {
  background-color: brown;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/project/MirrorFashion/public/images/man-on-stool-in-hoodie-and-sweatpants.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.animation1_gridTF:hover {
  animation-name: animation1_gridTF;
  animation-duration: 1s;
  animation-iteration-count: 1;

  width: 110%;
  height: 110%;
  z-index: 1;

  box-shadow: 0px 0px 100px 100px black;
}

.animation1_gridTF:not(hover) {
  animation-name: animation1_gridTF_inverso;
  animation-duration: 1s;
  animation-iteration-count: 1;

  width: 100%;
  height: 100%;
  z-index: 0;
}

@keyframes animation1_gridTN {
  0% {
    min-height: 95%;
    min-width: 100%;
  }
  100% {
    min-height: 100%;
    min-width: 105%;
  }
}

@keyframes animation1_gridTF {
  0% {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 50px 50px black;
  }
  100% {
    width: 110%;
    height: 110%;
    z-index: 1;
    box-shadow: 0px 0px 100px 100px black;
  }
}

@keyframes animation1_gridTF_inverso {
  0% {
    width: 110%;
    height: 110%;
    z-index: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.animation1_gridTF6 {
  width: 100%;
  height: 110%;
  z-index: 1;
  box-shadow: 0px 0px 100px 100px black;
}
.animation1_gridTF9 {
  width: 100%;
  height: 110%;
  z-index: 1;
  box-shadow: 0px 0px 100px 100px black;
}
