    .gridTFT {
      background-color: darkolivegreen;
      grid-area: titulo;
      /*grid-template-areas: "destaque1 destaque1 destaque1 destaque1 destaque1  destaque2 destaque2 destaque2 destaque2 destaque2";*/
      display: flex;
  
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100vw;
      }
    .gridTNT {
      min-width: 100%;
      min-height: 70%;
    }
    .gridTNT1 {
      background: radial-gradient(gray -200%, black);
      font-size: 7rem;
      font-weight: 700;
      color: gray;
    }
    .gridTNT2 {
      background-color: teal;
      font-size: 8rem;
      font-weight: 700;
    }
    .gridTNT3 {
      background-color: blue;
      font-size: 8rem;
      font-weight: 700;
    }