.Produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-width: 100vw;
    position: absolute;
}
.ProdutosEF {
    position: relative;
    width: 100vw;
}
.ProdutosEF2
.ProdutosEF3
{
    position: relative;
}
.ProdutosInf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: gray;
    min-height: 110vh;
    min-width: 100vw;
    position: relative;
    top: 10vh;
}
.ProdutosImg {
    background-color:  blueviolet;
    height: 85vh;
    width: 30vw;
    margin-top: 0;
    background-image: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.2) 40%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.4));
    border-radius: 50px;
    box-shadow: 0px 0px 25px 25px black
}
.ProdutosTítulo {
    background-color: antiquewhite;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    width: 100vw;
}
.ProdutosTítuloD {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.Produtosvoid {
    background-color: black;
    height: 10vh;
}
.ProdutosDescriD {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: steelblue ;
    height: 85vh;
    width: 30vw;
    margin-top: 0;
    box-shadow: 0px 0px 50px 50px steelblue,0px 0px 100px 100px black;
}
.ProdutosDescri {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: steelblue;
    font-size: 2.5em;
    box-shadow: 0px 0px 50px 50px steelblue,0px 0px 100px 100px black;
}
.ProdutosImgD {
    display: flex;
    justify-content: center;
    background: radial-gradient(antiquewhite,lightsalmon );
    height: 85vh;
    width: 40vw;
    margin-top: 0;
    box-shadow: 0px 0px 50px 50px lightsalmon,0px 0px 100px 100px black;
    border-radius: 2em;
}
.TabelaD {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(white -300%,black);
    height: 70vh;
    box-shadow: 0px 0px 50px 50px black, 0px 0px 50px 50px steelblue;
    text-align: center;
    padding-top: 5vh;
}
.TabelaTíd {
    color: antiquewhite;
    font-size: 2.5rem;
}
.Tabela {
    width: 30vw;
    border-style: solid;
    border-color: steelblue ;
}
.TabelaH {
    color: antiquewhite;
    font-size: 1.8rem;
}
.TabelaH  tr th {
    border-style: solid;
    border-bottom-width: 0rem;
    border-left-width: 0rem;
    border-top-width: 0rem;
    border-color: steelblue ;
}
.TabelaH  tr th:nth-child(2n) {
    border-right-width: 0rem;
}
.TabelaB {
    color: rgb(218, 183, 171);
    font-size: 1.4rem;
}
.TabelaB  tr td {
    border-style: solid;
    border-bottom-width: 0rem;
    border-left-width: 0rem;
    border-top-width: 0.2rem;
    border-color: steelblue ;
}
.TabelaB  tr td:nth-child(2n) {
    border-right-width: 0rem;
}
.DescriP {
    color: rgb(218, 183, 171);
    font-size: 1.4rem;
    text-align: center;
}

/*----------------------------------------------------------------------------------------------------------*/

@media (max-width : 1205px) {
    .TabelaD {
        height: 90vh;
    }
    .ProdutosDescriD,
    .ProdutosImgD 
    {
        height: 90vh;
    }
}

@media (max-width : 1150px) {
    .TabelaD {
        height: 100vh;
    }
    .ProdutosDescriD,
    .ProdutosImgD 
    {
        width: 90vw;
    }
    .Tabela,
    .ProdutosDescri,
    .ProdutosImg 
    {
        width: 80vw;
    } 
    .ProdutosImgD,
    .ProdutosTítuloD {
        top: 2.5vh;
    }
    .ProdutosTítulo {
        font-size: 3rem;
    }    
    .ProdutosDescriD {
        position: relative;
        top: 22.5vh;
    }     
}

/*----------------------------------------------------------------------------------------------------------*/

@media (max-width : 800px) {
    .ProdutosDescriD,
    .ProdutosImgD 
    {
        width: 100vw;
    }
    .ProdutosDescri,
    .ProdutosImg 
    {
        width: 90vw;
    }   
    .ProdutosTítulo {
        font-size: 2rem;
        height: 10vh;
    }    
/*----------------------------------------------------------------------------------------------------------*/
/*Animações*/
.AEF32:hover {
    animation-name: AEF32;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.AEF32:hover {
    height: 100vh;
    width: 100vw;
    border-radius: 100px;
    box-shadow: 0px 0px 300px 260px black,0px 0px 200px 150px antiquewhite,0px 0px 400px 400px black;
    right: 5vw;
}  
@keyframes AEF32 {
    from {
        height: 82vh;
        width: 90vw;
        box-shadow: 0px 0px 0px 0px black,0px 0px 0px 0px antiquewhite,0px 0px 0px 0px black;
        right: 0vw;
    }
    to {
        height: 100vh;
        width: 100vw;
        border-radius: 100px;
        box-shadow: 0px 0px 300px 260px black,0px 0px 200px 150px antiquewhite,0px 0px 400px 400px black;
    }
}
/*----------------------------------------------------------------------------------------------------------*/
}

/*----------------------------------------------------------------------------------------------------------*/
/*Animações*/
.AEF3:hover {
    animation-name: AEF3;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.AEF3:hover {
    height: 100vh;
    width: 40vw;
    border-radius: 100px;
    box-shadow: 0px 0px 300px 260px black,0px 0px 200px 150px antiquewhite,0px 0px 400px 400px black;
    right: 5vw;
}  
@keyframes AEF3 {
    from {
        height: 82vh;
        width: 30vw;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px black,0px 0px 0px 0px antiquewhite,0px 0px 0px 0px black;
        right: 0vw;
        border-radius: 50px;
    }
    to {
        height: 100vh;
        width: 40vw;
        right: 5vw;
        border-radius: 100px;
        box-shadow: 0px 0px 300px 260px black,0px 0px 200px 150px antiquewhite,0px 0px 400px 400px black;
    }
}
/*----------------------------------------------------------------------------------------------------------*/