
.gridTF10 {
background-color: wheat;
grid-area: subdestaque9;
display: flex;
flex-direction: row;
overflow-x: scroll;
overflow-y: hidden;
height: 250vh;
}
.gridTN10 {
position: relative;
text-align: center;
font-size: 3rem;
font-weight: 500;
min-height: 100%;
min-width: 100%;
border-radius: 25px;
}
.gridTN101 {
background-color: brown;
}
.gridTN102 {
background-color: tomato;
/*background-image: 
linear-gradient(
0deg,rgba(0,0,0,0.6),
rgba(0,0,0,0.2)40%,
rgba(0,0,0,0.2)80%,
rgba(0,0,0,0.4)),
url(/workspace/MirrorFashion/public/images/pink-fur-fabulous-fashion.jpg);*/
background-repeat: no-repeat;
background-size: 140%;
}
.gridT93 {
background-color: darkblue;
/*background-image: 
linear-gradient(
0deg,rgba(0,0,0,0.6),
rgba(0,0,0,0.2)40%,
rgba(0,0,0,0.2)80%,
rgba(0,0,0,0.4)),
url(/workspace/MirrorFashion/public/images/pink-fur-fabulous-fashion.jpg);*/
background-repeat: no-repeat;
background-size: 140%;
}
