.gridTD {
  position: absolute;
  display: grid;
  /*grid-template-columns: 3fr 1fr 1fr;*/
  grid-template-areas:
    "titulo titulo titulo titulo titulo"
    "destaque destaque destaque destaque destaque"
    "destaque destaque destaque destaque destaque"
    "subdestaque1 subdestaque1 subdestaque1 subdestaque2 subdestaque2"
    "subdestaque3 subdestaque3 subdestaque4 subdestaque4 subdestaque4"
    ". . . . ."
    ". . . . ."
    "subdestaque5 subdestaque5 subdestaque6 subdestaque6 subdestaque7"
    "subdestaque8 subdestaque8 subdestaque8 subdestaque8 ."
    ". subdestaque9 subdestaque9 subdestaque9 subdestaque9"
    "subdestaque10 subdestaque10 subdestaque10 subdestaque10 .";

  min-height: 700vh;
  min-width: 90vw;
  gap: 10px;
}
.gridTF {
  position: relative;
  display: grid;
  align-items: center;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  box-shadow: 0px 0px 50px 50px black;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/
.gridTFT {
  background-color: darkolivegreen;
  grid-area: titulo;
  /*grid-template-areas: "destaque1 destaque1 destaque1 destaque1 destaque1  destaque2 destaque2 destaque2 destaque2 destaque2";*/
  display: flex;

  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw;
}
.gridTF1 {
  background-color: pink;
  grid-area: destaque;
  /*grid-template-areas: "destaque1 destaque1 destaque1 destaque1 destaque1  destaque2 destaque2 destaque2 destaque2 destaque2";*/
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 200vh;
}
.gridTF2 {
  background-color: rgb(33, 33, 56);
  grid-area: subdestaque1;
  display: flex;
  flex-direction: row;
  /*min-height: 30vh;*/
  overflow-x: scroll;
  overflow-y: hidden;
  height: 200vh;
}
.gridTF3 {
  background-color: rebeccapurple;
  grid-area: subdestaque2;
  display: flex;
  flex-direction: column;
  /*min-height: 30vh;*/
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200vh;
}
.gridTF4 {
  background-color: white;
  grid-area: subdestaque3;
  display: flex;
  flex-direction: column;
  /*min-height: 30vh;*/
  overflow-x: hidden;
  overflow-y: scroll;
  height: 250vh;
}
.gridTF5 {
  background-color: wheat;
  grid-area: subdestaque4;
  display: flex;
  flex-direction: row;
  /*min-height: 30vh;*/
  overflow-x: scroll;
  overflow-y: hidden;
  height: 250vh;
}
.gridTF6 {
  background-color: springgreen;
  grid-area: subdestaque5;
  display: flex;
  /*min-height: 30vh;*/
  /*overflow-x: scroll;*/
  /*overflow-y: hidden;*/
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

.gridTF {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

.gridTN {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  height: 95%;
  min-width: 100%;
  border-radius: 25px;
}

.gridTN2 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  min-height: 95%;
  min-width: 100%;
  border-radius: 25px;
}

.gridTN3 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  min-height: 90%;
  min-width: 95%;
  border-radius: 25px;
  background-size: 160%;
}

.gridTN4 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  min-height: 50%;
  min-width: 80%;
  border-radius: 25px;
  background-size: 150%;
}

.gridTN5 {
  position: relative;
  /*align-items: center;
  align-content: center;
  justify-content: center;*/
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  min-height: 100%;
  min-width: 100%;
  border-radius: 25px;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

.gridTNT {
min-width: 100%;
min-height: 70%;
}
.gridTNT1 {
  background: radial-gradient(gray -200%, black);
  font-size: 7rem;
  font-weight: 700;
  color: gray;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTNT2 {
  background-color: teal;
  font-size: 8rem;
  font-weight: 700;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTNT3 {
  background-color: blue;
  font-size: 8rem;
  font-weight: 700;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.gridTN1 {
  background-color: whitesmoke;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/workspace/MirrorFashion/public/images/striped-blouse-fashion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN12 {
  background-color: red;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque2;*/
}
.gridTN13 {
  background-color: coral;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.gridTN21 {
  background-color: violet;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/workspace/MirrorFashion/public/images/pink-neon-lights-fashion-model.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN22 {
  background-color: yellow;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque2;*/
}
.gridTN23 {
  background-color: springgreen;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.gridTN31 {
  background-color: aqua;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/workspace/MirrorFashion/public/images/mens-stylish-formalwear.jpg);
  background-repeat: no-repeat;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN32 {
  background-color: blue;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque2;*/
}
.gridTN33 {
  background-color: aquamarine;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.gridTN41 {
  background-color: darkcyan;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/workspace/MirrorFashion/public/images/woman-in-pink-silk.jpg);
  background-repeat: no-repeat;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN42 {
  background-color: slategrey;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/workspace/MirrorFashion/public/images/fashion-model-looks-at-camera.jpg);
  background-repeat: no-repeat;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque2;*/
}
.gridTN43 {
  background-color: cornflowerblue;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

.gridTN51 {
  background-color: brown;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/workspace/MirrorFashion/public/images/pink-fur-fabulous-fashion.jpg);
  background-repeat: no-repeat;
  background-size: 140%;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}
.gridTN52 {
  background-color: tomato;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque2;*/
}
.gridTN53 {
  background-color: darkblue;
  /*margin-left: 2.5vw;*/
  /*height: 90%;
  width: 80rem;*/
  /*grid-area: destaque1;*/
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

