.DFormPag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 15vh;
}
.FDFormPag {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.TFormPag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}
.FormPag {
    height: 95vh;
    width: 90vw;
    background: radial-gradient(antiquewhite,black);
    box-shadow: 0px 0px 50px 50px black,0px 0px 50px 50px antiquewhite;
    padding-top: 5vh;
    border-radius: 2.5rem;
}
.DForPag {
    padding-top: 10vh;
}
.inputDbP {
    position: relative;
    height: 10vh;
    width: 60vw;
    margin-top: 2vh;
    border-style: solid;
    border-width: 0.2rem;
    border-color: rgb(221, 210, 210);
    background: radial-gradient(black 5%,antiquewhite );
    box-shadow: 0px 0px 15px 15px rgb(221, 210, 210),0px 0px 10px 10px black;
    border-radius: 2rem;
}
.DinputDFP {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 2vh;
    margin-top: -2vh;
}
.LabelD {
    width: 60vw;
    display: flex;
    justify-content: flex-start;
    color: aliceblue;
}
.inputDbP::placeholder {
    font-size: 1rem;
    font-weight: 400;
    color:black;
}