.gridTD4 {
  display: grid;
  position: relative;
  grid-template-areas:
    "gridTD4F1 gridTD4F1 gridTD4F1 gridTD4F1 gridTD4F2"
    "gridTD4F1 gridTD4F1 gridTD4F1 gridTD4F1 gridTD4F2"
    "gridTD4F1 gridTD4F1 gridTD4F1 gridTD4F1 gridTD4F2"
    "gridTD4F1 gridTD4F1 gridTD4F1 gridTD4F1 gridTD4F2";
  height: 200vh;
  min-width: 100vw;
}
.gridTD4F {
}
.gridTD4F1 {
  background-color: dimgray;
  grid-area: gridTD4F1;
  /*grid-template-areas: "destaque1 destaque1 destaque1 destaque1 destaque1  destaque2 destaque2 destaque2 destaque2 destaque2";*/
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 200vh;
  min-width: 60vw;
}
.gridTD4F2 {
  background-color: dimgray;
  grid-area: gridTD4F2;
  /*grid-template-areas: "destaque1 destaque1 destaque1 destaque1 destaque1  destaque2 destaque2 destaque2 destaque2 destaque2";*/
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 200vh;
  min-width: 40vw;
}
.gridTND4F2,
.gridTND4F1 {
  position: relative;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  border-radius: 25px;
  color: white;
}
.gridTD4FN1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/project/MirrorFashion/public/images/blonde-woman-in-denim.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 60vw;
}

.gridTD4F {
  box-shadow: 0px 0px 150px 150px dimgray;
  z-index: 1;
  min-height: 100%;
  min-width: 40vw;
}
