.LD11 {
    top: 75vh;
    left: 45vw;
    position: absolute;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}
.LD11li {
    color: black;
    list-style-type: disc;
}
.LD11li:hover {
    color: white;
}
  .LHli{
    position: relative;
    width: 1em;
    font-size: 4em;
    color: wheat;
    list-style-type: disc;
  }