/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
.Div11 {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.Div11:hover {
  box-shadow: 0px 0px 200px 240px black;
  animation-name: my3;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
.Div11:not(:hover) {
  box-shadow: 0px 0px 150px 80px black;
  animation-name: mynot3;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
.D11 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*---------------------------------------------------------------------------------------------------------------------*/
.D111{
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation-name: my1;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
.D111:hover{
    animation-name: my1;
    animation-duration: 100s;
    animation-iteration-count: 1;
  }  
/*---------------------------------------------------------------------------------------------------------------------*/  
.D112{
  background: linear-gradient(antiquewhite,darksalmon);
}
/*---------------------------------------------------------------------------------------------------------------------*/
.D113{
     background: linear-gradient(antiquewhite,black,darksalmon);
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
.GoTriangleRight {
    font-size: 4em;
    position: fixed;
    color: black;
    top: 5em;
    right: 0;
  }
  .GoTriangleRight:hover {
    color: wheat;
  }
  .GoTriangleLeft {
    font-size: 4em;
    position: fixed;
    color: black;
    top: 5em;
    left: 0;
  }
  .GoTriangleLeft:hover {
    color: wheat;
  }
  .GoTriangleRightC {
    width: 0;
  }
  .GoTriangleLeftC {
    width: 0;
  }
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
  .imgd  {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    box-shadow: 0px 0px 110px 100px black;
    border-radius: 20px;
  }
  .imgd:hover {
      animation-name: my2;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
  }
  .imgd:hover {
    box-shadow: 0px 0px 200px 240px black;
    border-radius: 80px;
}
.imgd:not(:hover) {
  animation-name: my4;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.img:not(:hover) {
  box-shadow: 0px 0px 110px 80px black;
  border-radius: 20px;
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
.img112 {
  background-image: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.2) 40%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.4)),url("C:\Users\Casas Bahia\Desktop\Gabriel\Estudo\Livros\Ciências Exatas\Ciência da Computação\Programação\Projetos\slide\public\images\destaque-home2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.img111 {
  background-image: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.2) 40%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.4)),url("C:\Users\Casas Bahia\Desktop\Gabriel\Estudo\Livros\Ciências Exatas\Ciência da Computação\Programação\Projetos\slide\public\images\destaque-home6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.img113 {
  background-image: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.2) 40%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.4)),url("C:\Users\Casas Bahia\Desktop\Gabriel\Estudo\Livros\Ciências Exatas\Ciência da Computação\Programação\Projetos\slide\public\images\destaque-home3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
  @keyframes fadeIn {
    from {
      size: 0%;
      opacity: 0;
    }
    to {
      opacity: 1;
      size: 100%;
    }
  }
/*---------------------------------------------------------------------------------------------------------------------*/  
  @keyframes my1 {
    0% {
      background: radial-gradient(darksalmon,black);
   }
    100% {
      background: black 
    }
  }
/*---------------------------------------------------------------------------------------------------------------------*/
  @keyframes my2 {
    from {
      box-shadow: 0px 0px 110px 100px whitesmoke;
      border-radius: 20px;
    } 
    to {
      box-shadow: 0px 0px 200px 220px black;
      border-radius: 80px;
    }
  }
/*---------------------------------------------------------------------------------------------------------------------*/
  @keyframes my3 {
    from {
      box-shadow: 0px 0px 110px 80px whitesmoke;
    } 
    to {
      box-shadow: 0px 0px 200px 240px black;
    }
  }
/*---------------------------------------------------------------------------------------------------------------------*/
@keyframes mynot3 {
  from {
    box-shadow: 0px 0px 200px 240px black;
  } 
  to {
    box-shadow: 0px 0px 150px 80px black;
  }
}
/*---------------------------------------------------------------------------------------------------------------------*/
  @keyframes my4 {
    from {
      box-shadow: 0px 0px 200px 240px black;
      border-radius: 80px;
    } 
    to {
      box-shadow: 0px 0px 110px 100px black;
      border-radius: 20px;
    }
  }
.D11  {
    min-height: 74vh; 
    min-width: 100vw;  
    left: 0px
}
.img111  {
    height: 95vh; 
    width: 80vw; 
    left: 0px;
    }
.img112  {
height: 95vh; 
width: 80vw; 
left: 0px;
}
.img113  {
height: 95vh; 
width: 80vw; 
left: 0px;
}
.Div11  {
    top: 10vh;
    height: 74vh;
    width: 100vw;   
}
  @media (max-width: 800px) {
    .Div11 {
      width: 100vw;
      height: 90vh;
    }
    .img111  {
    width: 90vw;
    height: 100vh;
      }
    .img112  {
    width: 90vw;
    height: 100vh;
  }
    .img113  {
    width: 90vw;
    height: 100vh;
  }
    .D11 {
      width: 100vw;
      height: 100vh;
    }
    .LHul {
      width: 45vh;
    }
  }

  @media (min-width: 1500px) {
    .Div11 {
      width: 100vw;
      height: 74vh;
    }
    .img111  {
      width: 80vw;
      height: 95vh;
        }
    .img112  {
        width: 80vw;
        height: 95vh;
    }
    .img113  {
      width: 80vw;
      height: 95vh;
    }
    .D11 {
      width: 100vw;
      height: 74vh;
    }
    .LHul {
      width: none;
    }
  }