/*---------------------------------------------------------------------------------------------------------------------*/
.DivT {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    background-color: brown;
  }
  .DivTF {
    position: relative;
    padding: 0;
    margin-top: 15vh;
  }
  /*---------------------------------------------------------------------------------------------------------------------*/
  .DivTF1 {
    height: 70vh;
    width: 40vw;
    background-color: black ;
    left: 10px;
    bottom: 50px;
  }
  .DivTF1A {
    animation: DivTF1A;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    height: 50vh;
    width: 30vw;
    left: 43vw;
    bottom: 100px;
  }
  .DivTF1IA {
    animation: DivTF1IA;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    height: 70vh;
    width: 40vw;
    left: 10px;
    bottom: 50px;
  }
  /*---------------------------------------------------------------------------------------------------------------------*/
  .DivTF2 {
    background-color: aqua;
    height: 50vh;
    width: 30vw;
    bottom: 50px;
    left: 20px;
  }
  .DivTF2A {
    animation: DivTF2A;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    height: 70vh;
    width: 40vw;
    left: -32vw;
    bottom: 50px;
  }
  .DivTF2IA {
    animation: DivTF2IA;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    height: 50vh;
    width: 30vw;
    left: 0vw;
    bottom: 100px;
  }
  /*---------------------------------------------------------------------------------------------------------------------*/
  .DivTF3 {
    background-color: blue;
    height: 30vh;
    width: 20vw;
    bottom: 125px;
    left: 10px;
  }
  .DivTF3:hover {
    animation: DivTF3;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }  
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
@keyframes DivTF1A {
    0% {
        height: 70vh;
        width: 40vw;
        left: 0px;
        bottom: 50px;
    }
    50% {
        height: 60vh;
        width: 35vw;
        left: 21.5vw;
        bottom: 75px;
      } 
    100% {
        height: 50vh;
        width: 30vw;
        left: 43vw;
        bottom: 100px;
    }
  }
  @keyframes DivTF1IA {
    0% {
        height: 50vh;
        width: 30vw;
        left: 43vw;
        bottom: 100px;
      }
      50% {
        height: 60vh;
        width: 35vw;
        left: 21.5vw;
        bottom: 75px;
        } 
      100% {
        height: 70vh;
        width: 40vw;
        left: 10px;
        bottom: 50px;
      }
  }
/*---------------------------------------------------------------------------------------------------------------------*/
  @keyframes DivTF2A {
    0% {
        height: 50vh;
        width: 30vw;
        left: 0vw;
        bottom: 0px;
    }
    50% {
        height: 60vh;
        width: 35vw;
        left: -12vw;
        bottom: -100px;
      } 
    100% {
        height: 70vh;
        width: 40vw;
        left: -32vw;
        bottom: 50px;
    }
  }
  @keyframes DivTF2IA {
    0% {
        height: 70vh;
        width: 40vw;
        left: -32vw;
        bottom: 0px;
      } 
    50% {
        height: 60vh;
        width: 35vw;
        left: -16vw;
        bottom: -50px;
      }
    100% {
        height: 50vh;
        width: 30vw;
        left: 0vw;
        bottom: 100px;
      }
  }
/*---------------------------------------------------------------------------------------------------------------------*/  
/*---------------------------------------------------------------------------------------------------------------------*/

