.LHul {
    position: fixed;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0vh;
    left: 43.5vw;
  }
  @media (max-width : 600px) {
    .LHul {
        display: none;
    }
}