.gridTD2 {
  position: relative;
  display: grid;
  /*grid-template-columns: 3fr 1fr 1fr;*/
  grid-template-areas:
    ". . . . ."
    "gridTD2FB gridTD2FB gridTD2FB gridTD2FB gridTD2FB"
    ". GridTF1 GridTF2 GridTF3 ."
    ". . . . .";

  min-height: 150vh;
  min-width: 90vw;
  width: 100vw;
  gap: 10px;
  background-color: gray;
}

.gridTD2F {
  position: relative;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  box-shadow: 0px 0px 50px 50px black;
  background-color: darkblue;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
