.gridTD2 {
  display: grid;
  position: relative;
  grid-template-areas:
    ". . . . ."
    "gridTD2F1 gridTD2F1 gridTD2F1 gridTD2F1 gridTD2F2"
    "gridTD2F1 gridTD2F1 gridTD2F1 gridTD2F1 gridTD2F2"
    "gridTD2F1 gridTD2F1 gridTD2F1 gridTD2F1 gridTD2F2"
    "gridTD2F1 gridTD2F1 gridTD2F1 gridTD2F1 gridTD2F2";
  height: 200vh;
  min-width: 90vw;
}
.gridTD2F {
}
.gridTD2F1 {
  background-color: white;
  grid-area: gridTD2F1;
  /*grid-template-areas: "destaque1 destaque1 destaque1 destaque1 destaque1  destaque2 destaque2 destaque2 destaque2 destaque2";*/
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}
.gridTD2F2 {
  background-color: white;
  grid-area: gridTD2F2;
  /*grid-template-areas: "destaque1 destaque1 destaque1 destaque1 destaque1  destaque2 destaque2 destaque2 destaque2 destaque2";*/
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}
.gridTND2F2,
.gridTND2F1 {
  position: relative;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  border-radius: 25px;
  color: black;
  min-height: 100%;
  min-width: 100%;
}
.gridTD2FN1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.4)
    ),
    url(/workspaces/MirrorFashion/public/images/man-on-stool-in-hoodie-and-sweatpants.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gridTD2F {
  box-shadow: 0px 0px 150px 150px white;
  z-index: 1;
}
