.gridTF7 {
background-color: wheat;
grid-area: subdestaque6;
display: flex;
flex-direction: row;
overflow-x: scroll;
overflow-y: hidden;
height: 100vh;
}
.gridTN7 {
position: relative;
text-align: center;
font-size: 3rem;
font-weight: 500;
min-height: 100%;
min-width: 100%;
border-radius: 25px;
}
.gridTN71 {
background-color: brown;
}
.gridTN72 {
background-color: tomato;
/*background-image: 
linear-gradient(
0deg,rgba(0,0,0,0.6),
rgba(0,0,0,0.2)40%,
rgba(0,0,0,0.2)80%,
rgba(0,0,0,0.4)),
url(/workspace/MirrorFashion/public/images/pink-fur-fabulous-fashion.jpg);*/
background-repeat: no-repeat;
background-size: 140%;
}
.gridTN73 {
background-color: darkblue;
/*background-image: 
linear-gradient(
0deg,rgba(0,0,0,0.6),
rgba(0,0,0,0.2)40%,
rgba(0,0,0,0.2)80%,
rgba(0,0,0,0.4)),
url(/workspace/MirrorFashion/public/images/pink-fur-fabulous-fashion.jpg);*/
background-repeat: no-repeat;
background-size: 140%;
}

/*----------------------------------------------------------------------------------------------*/
/*!*/

.for_posiçao2_of_gridTN7 {
    animation-name: for_posiçao2_of_gridTN7;
    animation-duration: 1s;
    animation-iteration-count: 1;
  
    z-index: 2;
    height: 120%;
    width: 130%;
    left: 0;
    top: -5vh; 
    rotate: 0deg;
  }
  
  .for_posiçao1_of_gridTN7 {
    animation-name: for_posiçao1_of_gridTN7;
    animation-duration: 1s;
    animation-iteration-count: 1;
  
    z-index: 1;
    height: 100%;
    width: 100%;
    left: -40vw;
    top: 0vh; 
  }
  
  @keyframes for_posiçao2_of_gridTN7 {
    0% {
      z-index: 1;
      height: 100%;
      width: 100%;    
      left: -40vw;
    }
    25% {
      left: -80vw;
      top: 10vh;
      z-index: 2
    }
    50% {
      top: 20vh;
      z-index: 2;
      rotate: 20deg;
    }
    75% {
      z-index: 2;
      height: 120%;
      width: 130%;    
      left: 0;
      top: -20vh;
      rotate: -20deg;
    }
    100% {
      z-index: 2;
      height: 120%;
      width: 130%;
      left: 0;
      top: -5vh;
      rotate: 0deg;
    }
  }
  
  @keyframes for_posiçao1_of_gridTN7 {
    0% {
     z-index: 2;
      height: 110%;
      width: 120%;
      left: 0;
      top: 0;
    }
    25% {
      z-index: 1;
      left: 40vw;
      top: -10vh;
    }
    50% {
     top: -20vh;
    }
    75% {
      z-index: 1;
      height: 100%;
      width: 100%;
      left: -40vw;
      top: 10vh;
    }
    100% {
      z-index: 1;
      height: 100%;
      width: 100%;
      left: -40vw;
      top: 0vh;
    }
  }