.gridTD1F7 {
background-color: wheat;
grid-area: subdestaque6;
display: flex;
flex-direction: row;
overflow-x: scroll;
overflow-y: hidden;
width: 33vw;
height: 100vh;
}
.gridTD1N7 {
position: relative;
text-align: center;
font-size: 3rem;
font-weight: 500;
min-height: 100%;
min-width: 100%;
border-radius: 25px;
}
.gridTD1N71 {
background-color: brown;
}
.gridTD1N72 {
background-color: tomato;
/*background-image: 
linear-gradient(
0deg,rgba(0,0,0,0.6),
rgba(0,0,0,0.2)40%,
rgba(0,0,0,0.2)80%,
rgba(0,0,0,0.4)),
url(/workspace/MirrorFashion/public/images/pink-fur-fabulous-fashion.jpg);*/
background-repeat: no-repeat;
background-size: 140%;
}
.gridTD1N73 {
background-color: darkblue;
/*background-image: 
linear-gradient(
0deg,rgba(0,0,0,0.6),
rgba(0,0,0,0.2)40%,
rgba(0,0,0,0.2)80%,
rgba(0,0,0,0.4)),
url(/workspace/MirrorFashion/public/images/pink-fur-fabulous-fashion.jpg);*/
background-repeat: no-repeat;
background-size: 140%;
}

/*----------------------------------------------------------------------------------------------*/
/*!*/
